<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/main.css">
    <title>Test for the webGM BE</title>
    <%- defineContent('headScripts') -%>
</head>
<body>
    <header>
        <nav class="navbar navbar-inverse">
            <div class="container">
                <a href="/" class="navbar-brand">BE test</a>
                <ul class="nav navbar-nav">
                    <li><a href="/">Index</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/add-player">Add Player</a></li>
                    <li><a href="/sim">Simulateur</a></li>
                </ul>
            </div>
        </nav>
    </header>

    <!-- MAIN CONTENT -->
    <%- defineContent('hero') -%>

    <main>
        <div class="container">
            <%- body -%>
        </div>
    </main>

    <footer>
        <nav class="navbar">
            <div class="container">
                <ul class="nav navbar-nav">
                    <li><a href="/">Index</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/add-player">Add Player</a></li>
                    <li><a href="/sim">Simulateur</a></li>
                </ul>
            </div>
        </nav>
    </footer>
</body>
<%- defineContent('footerScripts') -%>
</html>
