<%- contentFor('hero') -%>
<section class="hero">
    <div class="container">
        <div class="hero-content">
            <h1>Index page</h1>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis enim harum repellendus mollitia ex saepe voluptas maiores.
                Debitis alias ratione, molestias, a repellendus eos pariatur commodi voluptas, magni laudantium, maiores.
            </p>
        </div>
    </div>
</section>


<%- contentFor('body') -%>
