<%- contentFor('headScripts') -%>
<script type="text/javascript" src="https://cdn.jsdelivr.net/lodash/4.17.4/lodash.min.js"></script>
<script type="text/javascript" src="/scripts/testTeams.js"></script>
<script type="text/javascript" src="/scripts/player.js"></script>

<%- contentFor('body') -%>
<main>
    <div class="container">
        <h1>Page simulateur</h1>
        <h2>Teams</h2>
        <div class="homeTeamDisplay">
            <h3>Home: </h3>
            <p class="name"></p>
            <h4>Current line:</h4>
            <p class="onIce"></p>
            <h4>Goalie: </h4>
            <p class="goalie"></p>
        </div>
        <hr>
        <div class="awayTeamDisplay">
            <h3>Visiting: </h3>
            <p class="name"></p>
            <h4>Current line:</h4>
            <p class="onIce"></p>
            <h4>Goalie: </h4>
            <p class="goalie"></p>
        </div>
        <hr>
        <div>
            <h5>Game infos</h5>
            <p><strong>Puck Owner: </strong></p>

        </div>
    </div>
</main>

<%- contentFor('footerScripts') -%>
<script type="text/javascript" src="/scripts/sim.js"></script>
